
<p>pregunta1 works!</p>
<div>
  <h2>Ingresar calificaciones</h2>
  
  <div class="form-group">
    <label for="calificacion1">Calificación 1:</label>
    <input type="number" id="calificacion1" [(ngModel)]="calificaciones[0]">
  </div>
  <hr>
  <div class="form-group">
    <label for="calificacion2">Calificación 2:</label>
    <input type="number" id="calificacion2" [(ngModel)]="calificaciones[1]">
  </div>
  <hr>

  <div class="form-group">
    <label for="calificacion3">Calificación 3:</label>
    <input type="number" id="calificacion3" [(ngModel)]="calificaciones[2]">
  </div>
  <hr>

  <button (click)="calcularPromedio()">Calcular Promedio</button>
  
  <div *ngIf="promedio !== null">
    <h3>Promedio: {{ promedio }}</h3>
  </div>
</div>