<p>pregunta2 works!</p>

<div class="example-button-row">
    <button mat-raised-button color="primary" (click)="mostrarMarca()" >
        Mostrar Marca</button>
    <button mat-raised-button color="accent" (click)="mostrarProveedor()">
        Mostrar Proveedor</button>
</div>
<div *ngIf="seccionActiva === 0">
    <mat-card>
        <mat-card-header>
            <mat-card-title>Alumnos</mat-card-title>            
        </mat-card-header>
        <mat-list>
            <mat-list-item role="listitem"
                *ngFor="let a of marca">{{a.nombre | uppercase}}</mat-list-item>
        </mat-list>
    </mat-card>
</div>
<div *ngIf="seccionActiva === 1">
    <mat-card>
        <mat-card-header>
            <mat-card-title>Cursos</mat-card-title>            
        </mat-card-header>
        <mat-list>
            <mat-list-item role="listitem"
                *ngFor="let c of proveedor">{{c.nombre | uppercase}} 
                   </mat-list-item>
        </mat-list>
    </mat-card>
</div>